<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EnrolToCourse</servlet-name>
        <servlet-class>controller.EnrolToCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowImage</servlet-name>
        <url-pattern>/ShowImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrolToCourse</servlet-name>
        <url-pattern>/EnrolToCourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>listeners.SessionListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.ContextListener</listener-class>
    </listener>
    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfContent</servlet-name>
        <servlet-class>controller.PdfContent</servlet-class>
    </servlet>
    <servlet>
        <display-name>RegisterServlet</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Used to show course image</description>
        <servlet-name>ShowImage</servlet-name>
        <servlet-class>controller.ShowImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfContent</servlet-name>
        <url-pattern>/PdfContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>controller.ControllerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <display-name>header_and_footer</display-name>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/error.jsp</url-pattern>
            <url-pattern>/faq.jsp</url-pattern>
            <url-pattern>/blog.jsp</url-pattern>
            <url-pattern>/about.jsp</url-pattern>
            <url-pattern>/registration.jsp</url-pattern>
            <url-pattern>/logout.jsp</url-pattern>
            <url-pattern>/courses.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header for user cabinet</description>
            <display-name>user_header</display-name>
            <url-pattern>/userCabinet/*</url-pattern>
            <url-pattern>/course/*</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/jspf/userHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <description>connection for DB OpenEduUz</description>
        <res-ref-name>jdbc/openeduuz</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
